<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage' %}">Система бронирования оборудования</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Переключить навигацию">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
{#            <li class="nav-item">#}
{#              <a class="nav-link active" aria-current="page" href="">Главная</a>#}
{#            </li>#}
{#            <li class="nav-item">#}
{#              <a class="nav-link" href="#">О нас</a>#}
{#            </li>#}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Справочники
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'location_list' %}">Расположение оборудования</a></li>
                <li><a class="dropdown-item" href="{% url 'inventory_list' %}">Инвентарное оборудование</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'reservation_list' %}">Бронирование оборудования</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                Бронирование оборудования
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'reservation_list' %}">Бронирование оборудования</a></li>
                {% if user.is_authenticated and user.is_superuser %}
                  <li>
                      <a class="dropdown-item" href="{% url 'reservation_pending' %}">Подтверждение заявки на бронирование</a>
                  </li>
                  {% endif %}
{#                <li><hr class="dropdown-divider"></li>#}
{#                <li><a class="dropdown-item" href="{% url 'reservation_list' %}">Бронирование оборудования</a></li>#}
              </ul>
            </li>

          </ul>
            <ul class="navbar-nav">
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.is_authenticated %}
                {{ user.username }}
            {% else %}
                Войти
            {% endif %}
          </a>
        {% if user.is_authenticated %}
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          {% if user.is_superuser %}
              <li><a class="dropdown-item" href="/admin/">Admin</a></li>
          {% endif %}
            <li><a class="dropdown-item" href="">Профиль</a></li>
            <li><a class="dropdown-item" href="">История бронирования</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form action="{% url "logout" %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Выйти</button>
                </form>
            </li>
          </ul>
        {% else %}
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url "login" %}">Войти</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'registration' %}">Регистрация</a></li>
          </ul>
        {% endif %}
        </li>
            </ul>
        </div>
      </div>
</nav>